# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Eleventy build output
_site/

# Caches
.cache/
.parcel-cache/
.eslintcache

# Env & local config
.env
.env.*
.npmrc

# OS-specific
.DS_Store
Thumbs.db
Icon?

# Editors/IDEs
.vscode/
.idea/
*.swp

# Docker
*.pid
*.seed

# Misc
coverage/
*.log


